.navbar{ background:url("navbar.png") top left no-repeat; }
.联动场景P17-sketch_r2_c6{ width:44px; height:44px; background-position:-10px -10px; }
.联动场景P17-sketch_r3_c10{ width:21px; height:21px; background-position:-10px -64px; }
.联动场景P17-sketch_r3_c8{ width:21px; height:21px; background-position:-10px -95px; }
.联动场景P17-sketch_r3_c4{ width:20px; height:21px; background-position:-10px -126px; }
.联动场景P17-sketch_r3_c2{ width:20px; height:21px; background-position:-10px -157px; }

